<div class="page-header">
    <section class="content-header">
        <h1>
            <small>Hours send</small>
        </h1>
        <div class="row" style="padding-bottom: 20px">
            <div class="container">
                <div class="col-lg-12">
                    <label class="detailsLabel">Einddatum</label>
                    <input ng-model="filterDate"
                           datepicker
                           type="text"
                           id="date"
                           required
                           class="form-control"
                           ng-change="setDate()">
                </div>
                <div class="col-lg-12" style="margin-top: 20px">
                    <div class="form-group">
                        <label class="detailsLabel">Employee</label>
                        <select chosen
                                ng-model="employee"
                                data-placeholder-text-single="'Choose an employee'"
                                class="form-control"
                                ng-change="employeeChanged()"
                                id="employee"
                                ng-options="option.key as option.value for option in employees">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 20px">
                    <div class="form-group">
                        <label class="detailsLabel">Project</label>
                        <select chosen
                                ng-model="projectCode"
                                data-placeholder-text-single="'Choose a project'"
                                class="form-control"
                                ng-change="projectChanged()"
                                id="projectCode"
                                ng-options="option.key as option.value for option in projects">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <flash-message duration="2000"></flash-message>
            <div class="container">
                <div class="col-lg-12">
                    <table ng-table-dynamic="tableParams with cols" show-filter="false"
                           class="table table-bordered table-striped billing" style="font-size: 12px">
                        <tr ng-repeat="row in $data" class="tr-billing{{ row.id }}">
                            <td ng-repeat="col in $columns">
                                <span>
                                    {{::row[col.field]}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include src="'templates/footer.html'">
</div>