<div class="page-header">
    <section class="content-header">
        <h1>
            Wachtwoord aanpassen
        </h1>
    </section>

    <section style="padding-top: 20px" class="row content">
        <div class="col-md-4">
            <section id="loginForm">
                <form ng-submit="resetPasswordFinal()">
                    <div class="form-group has-feedback">
                        <input type="email"
                               id="email"
                               name="email"
                               ng-model="email"
                               class="form-control"
                               placeholder="Email"
                               required/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password"
                               id="newPassword"
                               name="newPassword"
                               ng-model="newPassword"
                               class="form-control"
                               placeholder="Nieuw wachtwoord"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               title="Het wachtwoord moet minimaal 1 getal, een hoofdletter, een kleine letter, een vreemd teken en minimaal 8 karakters bevatten"
                               required/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password"
                               id="newPasswordRepeat"
                               name="newPasswordRepeat"
                               ng-model="newPasswordRepeat"
                               class="form-control"
                               placeholder="Herhaal nieuw wachtwoord"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               title="Het wachtwoord moet minimaal 1 getal, een hoofdletter, een kleine letter, een vreemd teken en minimaal 8 karakters bevatten"
                               required/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>
                <br/>
                <div class="row" ng-show="messageError">
                    <div class="col-xs-12 alert alert-danger text-center pull-left">
                        {{ messageError }}
                    </div>
                </div>
                <div class="row" ng-show="!messageError && messageSuccess">
                    <div class="col-xs-12 alert alert-success">
                        <p>Success</p>
                    </div>
                    <div class="col-xs-12">
                        <a href ng-click="go('/login')">Inloggen</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<div ng-include src="'templates/footer.html'">
</div>