<div class="page-header">
    <section class="content-header">
	 <h3 ng-show="showPasswordExpiryWarningMessage">
	 Uw wachtwoord is verlopen, voer uw e-mailadres in om een nieuw wachtwoord aan te maken.
	 </h3>
				
        <h1>
            Vul uw e-mailadres in
        </h1>
    </section>

    <section style="padding-top: 20px" class="row content">
        <div class="col-md-4">
            <section id="loginForm">
                <form ng-submit="resetPassword()">
                    <div class="form-group has-feedback">
                        <input type="email"
                               id="email"
                               name="email"
                               ng-model="email"
                               class="form-control"
                               placeholder="Email"
                               required/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>
                <br/>
                <div class="row" ng-show="messageError">
                    <div class="col-xs-12 alert alert-danger text-center pull-left">
                        {{ messageError }}
                    </div>
                </div>
                <div class="row" ng-show="!messageError && messageSuccess">
                    <div class="col-xs-12 alert alert-success">
                        <p>Success</p>
                    </div>
                    <div class="col-xs-12">
                        <a href ng-click="go('/login')">Inloggen</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<div ng-include src="'templates/footer.html'">
</div>