<div class="page-header">
    <section class="content-header">
        <h1>
            <small>ZENO</small>
        </h1>
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-md-1">Source</div>
                        <div class="col-md-4">
                            <select ng-model="mode" class="form-control">
                                <option value="prod">Soap request</option>
                                <option value="test">Test (without request)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">Administration</div>
                            <div class="col-md-4">
                                <select ng-model="selectedAdmin" class="form-control"
                                        ng-options="option.code as option.name for option in administration">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">Datum</div>
                            <div class="col-md-4">
                                <md-content>
                                    <md-datepicker ng-model="datum" md-placeholder="Enter date"></md-datepicker>
                                </md-content>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <hr>
                    <table ng-table-dynamic="tableParams with cols" show-filter="false"
                           class="table table-bordered table-striped approve" style="font-size: 12px">
                        <tr ng-repeat="row in $data">
                            <td ng-repeat="col in $columns">
                                {{::row[col.field]}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include src="'templates/footer.html'"></div>